.leader-fields{
  padding: 30px;
}
.leader-score-title{
  color: orange;
  font-size: 20px;
  font-weight: bold;
}
.leader-score{
  font-weight: bold;
  font-size: 25px;
}
.score{
  font-size: 50px;
  font-weight: 100;
}
.leader-leaderboard{
  padding: 10px;
}
.leader-head{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}
.playagain{
  border: 2px solid black;
  border-radius: 15px;
  min-width: 10%;
  max-width: 25%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin: 40px auto;
}