.login-body{
  background-color: rgb(21,31,69);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.login-center{
  flex-grow: 1;
}
.login-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  background-color: white;
  min-width: 50%;
  text-align: center;
  min-height: 400px;
}
.login-welcome{
  background-color: rgb(60,191,243);
  display: flex;
  flex:1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 400px;
}
.login-form{
  flex:1;
  min-height: 400px;
  text-align: left;
  margin: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}
.login-welcome-message{
  font-size: 30px;
  font-weight: bold;
}
.login-welcome-quizzy{
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.login-form-name{
  font-size: 22px;
  font-weight: bold;
  flex:1;
}
.login-form-name input{
  width: 100%;
  border: 2px solid black;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px 0px;
}
.login-form-button{
  flex:1;
  display: block;
  margin: auto;
  width: 50%;
}
.login-form-button button {
  border: 2px solid black;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}